@* @using System.Security.Claims
@model Capableza.Web.ViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<h1>@ViewData["Title"]</h1>
<h4>Change your account password.</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <p class="text-info">To change your password, we will send a password reset link to your registered email address (@User.FindFirstValue(System.Security.Claims.ClaimTypes.Email)). Please follow the instructions in the email.</p>
        <form id="changePasswordForm" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="CurrentPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                <label asp-for="CurrentPassword" class="form-label"></label>
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            *@
            @*
            <div class="form-floating mb-3">
                <input asp-for="NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="NewPassword" class="form-label"></label>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="changePasswordButton" type="submit" class="w-100 btn btn-lg btn-primary">Send Password Reset Email</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
} *@
